{% extends 'videos/base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5"> <!-- mt = margin top -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <form method="post">
                    {% csrf_token %}
                    <legend class="border-bottom mb-4"><b>Delete video</b></legend> <!-- mb = margin bottom -->
                    <h5>Are you sure?</h5>
                    <p>You're about to delete this video. This cannot be undone.</p>
                    <div class="col-md-4 ml-auto">
                        <button class="btn btn-outline-danger btn-block" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}