{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-5"> <!-- mt = margin top -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <!-- Divide element base on screen size: Medium/Large/Extra large: 8/12 parts of screen
                                                         Small/Extra small: Full size-->
                <video-js
                        class="video-js vjs-default-skin vjs-16-9 vjs-big-play-centered"
                        width="800"
                        height="500"
                        controls
                        data-setup='{"playbackRates": [0.5, 1, 1.5, 2],
                                     "fluid": true,
                                     "preload": "auto"'>
                    <style type="text/css">
                        .video-js .vjs-time-control{display: block;}
                        .video-js .vjs-remaining-time{display: none;}
                    </style>
                    <source src="/media/{{ object.video_file }}" type="video/mp4">
                    <source src="/media/{{ object.video_file }}" type="video/mkv">
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video-js>
                <h4 class="mt-4">{{ object.title }}</h4>
                <p>{{ object.date_posted | date:"M d, Y" }}</p>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="text-dark">Topic</h5>
                        <a class="link-topic" href="{% url 'topic_list' object.topic.pk %}">{{ object.topic.name }}</a>
                    </div>
                    <div class="col-md-6 text-muted text-right">
                        <!-- Button trigger modal -->
                        <ion-icon class="video-icons"
                                  name="share-social-outline"
                                  type="button"
                                  data-toggle="modal"
                                  data-target="#exampleModal">
                            Share
                        </ion-icon>

                        <!-- Modal used for sharing use case-->
                        {% include 'videos/share_video.html' %}
                    </div>
                </div>
                <hr>
                <p class="ml-5 mt-3"> {{ object.description }}</p>
            </div>
                <div class="col-md-4 col-sm-12 col-xs-12 pl-5">
                    <h4 class="text-left mb-3">Similar videos</h4>
                    {% for topic in topics %}
                        {% if object.pk != topic.pk %}
                            <div class="position-relative d-flex flex-row mb-5 py-2">
                                <img src="{{ topic.thumbnail.url }}" width="100" height="56.25"/>
                                <div class="col">
                                    <h5 class="pl-3">{{ topic.title }}</h5>
                                    <p class="pl-3">{{ topic.date_posted | date:"M d, Y" }}</p>
                                </div>
                                <a href="{% url 'video_detail' topic.pk %}" class="stretched-link"></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
        </div>
        {% if object.uploader == user %}
            <a class="video-icons icon-color" href="{% url 'video_update' object.pk  %}">
                <ion-icon name="pencil-outline"></ion-icon>
            </a>
            <a class="video-icons icon-color" href="{% url 'video_delete' object.pk  %}">
                <ion-icon name="trash-outline"></ion-icon>
            </a>
        {% endif %}
    </div>
    <div class="container mt-5 mb-5">
        <div class="row mt-3">
            <div class="col-md-8 col-sm-12 col-xs-12">
                {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        <legend class="border-bottom md-4">Comments</legend>
                        {{ form | crispy }}
                        <div class="col-lg-2 col-md-4 mr-auto">
                            <button type="submit" class="btn btn-outline-success btn-block">Post</button>
                        </div>
                    </form>
                {% else %}
                    <a class="btn btn-outline-info btn-block" href="{% url 'account_login' %}">
                        Sign in to post a comment.
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col mt-5">
            {% for comment in comments %}
                <div class="row mt-2">
                    <div class="col-md-8 col-sm-12 col-xs-12 border-bottom">
                        <h5>{{ comment.user }}</h5>
                        <p>{{ comment.comment }}</p>
                    </div>
                    {% if comment.user == request.user %}
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-block ml-auto">Delete</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}