{% extends 'videos/base.html' %}

{% block content %}
    <div class="container">
        <h4 class="mt-3">Other videos with topic: {{ topic.name }}</h4>
        <div class="row justify-content-left">
            {% for video in videos %}
            <div class="card col-md-3 col-sm-12 col-xs-12 mt-5 p-3 border-0">
                <a href="{% url 'video_detail' video.pk %}">
                    <img src="/media/{{ video.thumbnail }}" width="256" height="144">
                </a>
                <div class="card-body">
                    <a class="link-text" href="{% url 'video_detail' video.pk %}">
                        <h5 class="text-left"> {{ video.title }}</h5>
                    </a>
                    <p class="text-muted text-left m-0">{{ video.uploader }}</p>
                    <p class="text-muted text-left">{{ video.date_posted | date:"M d, Y" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}